
.loginFormContainer{
    padding: 15px;
}
.formSupport {
    background-image: url('../../assets/login-bg.png');
    background-size: cover;
}
.FSupportButton{
    width: 70%;
    padding: 10px 10px 12px 10px;
    border-radius:50px;
    background-image: linear-gradient(-180deg, #a7a7a7,#697267);
    border: 0px solid;
    margin: 0px auto;
    display: block;
    margin-top: 10px;
    color: white;
}
.MFormContainer {
    box-shadow: 0px 0px 8px #c9ffd2;
    border-radius: 10px;
    padding: 0px !important;
    overflow: hidden;
}