.CIContainer {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    padding: 20px;
    border-radius: 100px;
    border: 1px solid;
    background-color: #224124;
}
.CIContainer > img {
    width: 100%;
    margin-top: 0px;
}
.contactItemContainer {
    margin-top: 30px;
}