.orders-image-container{
    background-color: #FFE1E1;
    padding: 0px;
}

.orders-image-container img {
    width: 100%;
    border-radius: 5px;
}

.fc-title-container{
    padding: 5px 0px;
}

.fc-button-container button {
    padding: 10px 0px 9px 0px;
    width: 100%;
    border-radius: 8px;
    background-image: linear-gradient(-20deg,#E13600,#8B3939);
    color: white;
    border: 0px solid;
}

.order-item-container-main{
    border-radius: 10px;
    border: 2px solid #FFE1E1;
}


