.hero-section {
    margin: 0px auto;
    color: #390000;
    padding: 40px 20px;
}

.hero-image {
    width: 100%;
    border-radius: 30px;
}

.headline {
    font-size: 55px;
    color: #390000;
    margin: 0px;
}

.headline-delish {
    color: #8B3939;
}

.hbcontainer {
    width: 100%;
    margin: 0px auto;
}

.headlinebutton{
    background-color: #281100;
    background-image: linear-gradient(-20deg,#E13600,#8B3939);
    padding: 3px 10px;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    border: 0px solid;
    width: 100%;
}

.headlinebutton:hover {
    cursor: pointer;
}

.htext-container{
    padding-right: 20px;
}


@media screen and (max-width: 1100px) {
    .headline {
        font-size: 50px;
    }
}

@media screen and (max-width: 850px) {
    .headline {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) {
    .htext-container {
        padding-right: 0px;
        text-align: center;
    }
    .hero-section {
        padding: 40px 0px;
    }
    .hbcontainer {
        max-width: 300px;
    }
    
}

@media screen and (min-width: 768px) {
    .hbcontainer {
        max-width: 300px;
        margin-left: 0px;
    }
    
    .hero-section {
        padding: 40px 0px;
    }
    
}
@media screen and (max-width: 400px) {

    .htext-container {
        padding-right: 0px;
        text-align: left;
    }
}
@media screen and (min-width: 575px) and (max-width: 768px) {
    .hero-image {
        max-width: 450px;
        margin: 0px auto;
    }
    .htext-container {
        max-width: 500px;
        margin: 0px auto !important;
    }
    .himagecontainer{
        width: max-content !important;
        margin: 0px auto !important;
    }
}


/*
    Featured Dishes
*/

.featuredMainContainer {
    background-color: #FFE8E8;
}

.featuredContents {
    padding: 50px 0px;
}

.tipDots {
    height: 16px;
    position: relative;
    top: 1px;
    z-index: 0;
}
.caretIcon {
    height: 23px;
    position: relative;
    top: 3px;
    z-index: 0;
}

.tipContent p {
    padding-right: 10px;
}
.sectionHeadlineContainer.features {
    width: 95%;
}
.sectionAfterTextContainer > p {
    width: 100%;
}

.fi-content-container.firstchild{
    margin-top: 15px !important;
}
.fi-content-container {
    margin-top: 40px !important;
    max-width: 400px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .fi-content-container {
        padding-right: 10px;
        margin-top: 30px !important;
    }
    .fi-content-container.firstchild{
        margin-top: 30px !important;
    }
}

@media screen and (min-width: 10248px) {
    .fi-content-container {
        padding-right: 20px;
    }
}


@media (min-width: 700px){
    .sectionHeadlineContainer.features {
        width: 80%;
    }
        
    .sectionAfterTextContainer > p {
        width: 70%;
    }
}

