/* src/components/CustomDialog.css */
.custom-dialog {
    position: fixed;
    border: 0px solid;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    width: 80%;
    max-width: 500px;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transform: translate(-50%, -60%);
    transition: transform 1s ease-out, opacity 1s ease-out;
  }
  
  .custom-dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .custom-dialog[open] {
    opacity: 1;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .ATCMButton{
    padding: 7px;
    border-radius: 10px;
    border: 0px solid;
    margin-top: 10px;
    margin-right: 10px;
    display: block;
    width: 100%;
    color: white;
  }
  .ATCMButton.Continue {
    background-color: #15240b;

  }
  .ATCMButton.PTC {
    background-image: linear-gradient(-196deg, #2d7004, #79c500);
  }