.orderContainer {
    padding: 20px;
    box-shadow: 0px 0px 8px #d7dedd;
    background-color: #fbfbfb;
    margin-top: 25px;
    border-radius: 10px;
}
.checkout-btn{
    display: block;
    padding: 11px;
    border-radius: 5px;
    border: 0px solid;
    background-color: #202020;
    width: 100%;
    color: white;
}





















