.trainingItemContainer{
    border-radius: 10px;
}

.trItemContainer img {
    width: 100px;
    margin-top: 35px;
}
.HITextContainer{
    max-width: 300px;
}
.ti-button-container{
    color: #ffffff;
    width: 100%;
    background-color: #0d2316;
    border-radius: 10px;
    border: 0px solid;
}

.TIImageContainer{
    padding: 0px;
    border-radius: 10px;
    border-bottom: 0px solid gray;
}
.TIImageContainer img {
    border-radius: 10px;
    width: 100%;
    border: 3px solid #e0dfdf;
}
@media screen and (min-width: 768px) { 
    .TItext-content-left, .TIimg-content-left {
        padding-left: 20px;
    }  
}


