
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Archivo';
    src: url('./assets/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Bruno Ace';
    src: url('./assets/BrunoAce-Regular.ttf') format('truetype');
  }
  

  *{
    box-sizing: border-box;
  }


body,.no-space {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.w-max-content {
    width: max-content;
}
.w-100 {
    width: 100%;
}
.font-family-archivo {
    font-family: 'Archivo';
}
.font-family-bruno{
    font-family: 'Bruno Ace'
}
.font-p {
    font-size: 14px;
    line-height: 2;
}
.font-small {
    font-size: 12px;
}
.font-subtitle {
    font-size: 20px;
}
.font-subtitle-big {
    font-size: 25px;
}

.font-heading-6 {
    font-size: 32px;
}
.font-heading-5 {
    font-size: 40px;
}
.font-heading-4 {
    font-size: 48px;
}
.font-heading-3 {
    font-size: 56px;
}
.font-heading-2 {
    font-size: 62px;
}
.font-header-1 {
    font-size: 68px;
}

.font-light {
    font-weight: 400;
}
.font-regular {
    font-weight: 500;
}
.font-medium {
    font-weight: 600;
}
.font-bold {
    font-weight: 700;
}
.font-black {
    font-weight: 900;
}

.c-text-main {
    color: #8B3939
}

.mainSpacing {
    padding: 5px 80px 6px 80px !important;
}

.brown {
    color: #4D3B3B;
}
.delight {
    color: #F50057;
}

.delicious {
    color: #B85D19;
}

.text-main {
    color: #390000;
}

.new-delight {
    color: #8B3939;
}

.button-background {
    color: #281100;
}

.deep-green {
    color: #03351A;
}

.pointer:hover{
    cursor: pointer;
}

.center {
    margin: 0px auto;
}

.width-100{
    width: 100%;
}
  
@media (max-width: 1024px) {
    .mainSpacing {
        padding: 3px 20px 3px 20px !important;
    }
}
