.socialIcon {
    width: 25px;
    height: 25px;
    position: relative;
    top: 8px;
}
.lowerFooter{
    background-color: #4D3B3B;
    color: white;
}
.ordersBannerContainer{
    background-image: url(../../assets/banner2.png);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}
.OIContainer{
    
}
.order-mod button {
    width: 36px;
    height: 36px;
    padding: 0px !important;
}
.order-mod span {
    padding: 0px 10px;
}
.co-divider{
    border-top: 2px solid rgb(255, 216, 222);
}
.co-img-container{
    padding: 4px;
    padding-bottom: 1px;
    border-radius: 10px;
    background-color: rgb(255, 216, 222);
}
.co-img-container img {
    border-radius: 5px;
}
.co-container-main{
    height: -webkit-fill-available;
    overflow-y: scroll;
}
.co-button-container button{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 244, 246);    
    border: 0px solid;
}
.addOnDivide{
    margin-top: 15px;
    border-bottom: 1px soild rgb(255, 195, 195);
    border-color: rgba(230, 230, 230, 0.066) !important;
}
@media screen and (min-width: 1024px) {
      
    .confirm-contents{
        padding-left:  25px !important;
        margin-left : 10px !important;
        border-left: 2px solid !important;
        border-color: rgba(230, 230, 230, 0.151) !important;
    }  
}
.input-container-order input {
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    border: 0px solid;
    background: #a58a8a;
}

.input-container-order input::placeholder {
    color: rgb(255, 220, 220);
}